body{
    background-image: url('Wallpaper.gif');
    background-position: center;
}
#form{
    background-color: white;
    width: 25%;
    margin: 120px auto;
    padding: 50px;
    box-shadow: 10px 10px 5px rgb(37, 3, 99);
    border-radius: 6px;
}

@media screen and (max-width:700px) {
    #form{
        width: 65%;
        padding: 40px;
    }
    
}
.error{
    color: #af42af;
    background-color: #fde8ec;
    padding: 5px;
    display: none;
    transform: translateY(-20px);
    margin-bottom: 10px;
    font-size: 8px;
}

